# Required
DATABASE_URL=postgres://user:password@pg-2182303d-a9845586266-58c1.c.aivencloud.com:21105/elysia
DATABASE_SSL_MODE=require
# DATABASE_CA_CERT_PATH=certs/aiven-ca.pem
HOST=0.0.0.0
PORT=9800
CORS_ORIGIN=*
